<section id="profile">
    <div id="name-bio">
        <h1>{{ firstName }} {{ lastName }}, {{{ interest }}}</h1>
         {{personalBio}}
    </div>

    <div id ="top-artists">
        <h3>Top 10 Artists</h3>
            <ul>
                {{#each artists}}
                <li>{{artist}}</li>
                {{/each}}
            </ul>
    </div>

    <div id="concerts">
        <h3>Most Memorable Concerts</h3>
            <ul>
                {{#each concerts}}
                <div>{{concert}}</div>
                {{/each}}
            </ul>
    </div> 

    <div id="recent-posts">
        <h2>Recent Posts</h2>
            <ul>
                {{#each posts}}
                <div>{{post}}</div>
                {{/each}}
            </ul>
    </div>
</section>