<section id="profile">
    <div id="name-bio">
        <h1>{{ first_name }} {{ last_name }}, {{{ user_type }}}</h1>
    </div>

    <div class="container">
  <div class="section" id="top-artists-wrapper">
  <div class="row">
    <h3>Top 10 Artists</h3>
  </div>

  </div>
    
    <p>Enter the name of your favorite artist</p>
    <form id="artist-form" class="form-group">
      <input type="text" name="artist-name" id="search-text" placeholder="Enter Artist Name"></input>
      <a class="btn" id="search-artist">Add Artist</a>
    </form>


    <div class ="row" >
      <div id="top-artists">
        {{#each TopArtists}}
        <div class="card col s3">
          <p class="card-title"> {{artist-name}} </p>
          <div class="card-image">{{artist-img}}</div>
      </div>
      {{/each}}
      

    </div>

    </div>

    <div class="section" id="concerts">
      <h3>Most Memorable Concerts</h3>
     
    <div class="row">           
      <form id="concerts-form" class="col s12">
        <div class="input-field col s6">
          <input type="text" id="concert-name" placeholder="Enter Concert/Artist Name">
        </div>
        <div class="input-field col 3">
            <input type="date" id="concert-date">
            <label for="concert-date">Enter Concert Date</label>
        </div>
        <div class="input-field row">
          <textarea class="materialize-textarea" id="concert-details" placeholder="Add concert details here"></textarea>
          <button class="btn" id="save-concert" type="button">Save Concert</button>
        </div>
    </form>

    <div class ="row">
      <ul id="memorable-concerts"></ul>
      {{#each Concerts}}
      <li class="memorable-concert">
        <div class="card col s10">
          <h4 class="card-title">{{concert_name}}</h4>
          <span>{{concert_date}}</span>
          <p class="card-content">{{concert_details}}</p>
        </div>
      </li>
      {{/each}}
    </div> 
      
    <div class="section" id="recent-posts">
      <h2>Recent Posts</h2>
      {{#each Post}}
      <div class="section">
        {{>post-info.handlebars}}
      </div>
      {{/each}}

    </div> 
  </section>
    {{#if loggedIn}}
  <script src="../public/javascript/add-artists.js"></script>
  <script src="../public/javascript/add-concert.js"></script>
  {{/if}}
  </div>